<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Testing</title>
    <script src="signalr-client-1.0.0-alpha2-final.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="jquery.terminal-1.11.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="knockout-3.4.2.js"></script>
    <link rel="stylesheet" href="jquery.terminal-1.11.1.min.css" type="text/css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="output_terminal"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="input_terminal"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Is Connected: <strong data-bind="text: isConnected"></strong></p>
                <p>Connection Id: <strong data-bind="text: connectionId"></strong></p>
                <p>Connected At: <strong data-bind="text: connectedAt"></strong></p>
                <p>Balance: <strong data-bind="text: balance"></strong></p>
                <p>Asset Amount: <strong data-bind="text: amount"></strong></p>
                <p>Number of Clients: <strong data-bind="text: numberOfClients"></strong></p>
            </div>
        </div>
    </div>

<script>
    var VM = function() {
        var self = this;
        self.clientState = ko.observable({})
        self.isConnected = ko.computed(() => self.clientState().status)
        self.connectedAt = ko.computed(() => self.isConnected() ? self.clientState().startedAt : "n/a")
        self.connectionId = ko.computed(() => self.clientState().clientId)
        self.balance = ko.computed(() => self.clientState().balance)
        self.amount = ko.computed(() => self.clientState().amount)
        self.numberOfClients = ko.observable(0);
    }

    var vm = new VM();
    ko.applyBindings(vm);

    jQuery(function($, undefined) {
        var start = (term) => {
            var connection = new signalR.HubConnection('/hub');

            connection.on('send',
                data => {
                    
                    switch (data.type) {
                        case "ClientState":
                            vm.clientState(data);
                            break;
                        case "StartConnectionEvent":
                            term.echo("Client started.");
                            break;
                        case "EndConnectionEvent":
                            term.echo("Client stopped.");
                            break;
                        case "NumberOfConnectedClients":
                            vm.numberOfClients(data.connectedClients);
                            break;
                        case "HandlerResult":
                            term.echo("Error: " + data.errors[0]);
                            break;
                        default:
                            break;
                    }
                    
                    console.log(data);
                });

            connection.start()
                .then(() => term.echo("Connected to server."));
    
            var funcs = {
                help: function() {
                    this.echo("AKKAEXCHANGE CLIENT REPL\n" +
                        " help                                displays help text and commands.\n" +
                        " bid [price] [quantity]              make a new bid (buy) offer.\n" +
                        " ask [price] [quantity]              make a new ask (sell) offer.\n" +
                        " orders                              list current open orders.\n" +
                        " cancel [order id]                   cancel an order.\n" +
                        " amend [order id] [price] [quantity] amend an order.");
                },
                bid: function (price, amount) {
                    connection.invoke('bid', price, amount);
                },
                ask: function(price, amount) {
                    connection.invoke('ask', price, amount);
                },
                amend: {
                    bid: function(price, amount) {

                    },
                    ask: function(price, amount) {

                    }
                }
            };

            var inputTerminal = $('#input_terminal').terminal(
                funcs,
                {
                    greetings: false,
                    name: 'js_demo',
                    height: 200,
                    prompt: '> ',
                    onInit: function (term) {
                        funcs.help.bind(term)();
                    }
                });
        }

        var outputTerminal = $("#output_terminal").terminal(
            {},
            {
                greetings: "Establishing connection.",
                name: 'js_demo_two',
                height: 200,
                keypress: () => {
                    return false;
                },
                prompt: '',
                onInit: function (term) {
                    term.freeze(true);
                    start(term);
                }
            });
    });
</script>
</body>
</html>